dash
dash-bootstrap-components
gunicorn
plotly
textblob
pycountry
textstat
wordcloud
gensim
imblearn
nltk
certifi==2019.6.16
chardet==3.0.4
Click==7.0
dash-core-components
dash-html-components
dash-renderer
dash-table
dask
decorator==4.4.0
Flask
Flask-Compress
html5lib==1.0.1
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jupyter-core==4.5.0
MarkupSafe==1.1.1
nbformat==4.4.0
numpy
pandas
pytz==2019.1
six==1.12.0
traitlets==4.3.2
Werkzeug==0.15.4
seaborn
sklearn
